/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

body {

    background-color: #121212; 
    height: 100vh;
    color: #f0f0f0; 
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%; 
}


.topo-do-site {
    padding: 60px 0;
}

.topo-do-site .flex {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 60px; 
    flex-wrap: wrap; 
}

.topo-do-site img {   
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 3px solid #8A2BE2;
    box-shadow: 0 0 25px rgba(138, 43, 226, 0.5);
}

.txt-topo-site {
    max-width: 600px; 
}

.topo-do-site h1 {
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
    line-height: 1.2; 
    margin-bottom: 20px; 
}

.search-box {
    display: flex; 
    align-items: center;

    background-color: #ffffff; 
    padding: 14px 15px;
    border-radius: 40px; 

    transition: box-shadow 0.3s ease;
    margin-top: 20px;
    

}

.barra-de-pesquisa{
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
   
}

.barra-de-pesquisa:hover i {
    transform: scale(1.15);
}